body{
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
    font-family: Meiryo UI;
    text-align: center;
    padding: 0px 0px 35px 0px;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


h1 {
	text-align:center;
	font-size:60px;
	color: #000000;
	font-family: 'Cambria Math',sans-serif;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

p{
	font-size: 25px;
	line-height: 1.5;
	font-family:"Meiryo UI";
	font-weight:bold;
}


span{font-size: 30px;}
div{font-family: Meiryo UI;}

.endo {
	font-family: Meiryo UI;
	font-weight: bold;
	text-align:center;
	font-size:27px;
	color: #ffff00;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ffffff;/*ボタン色*/
    color: #000000;
    border-bottom: solid 2px #c0c0c0;/*ボタン底影*/
    border-right: solid 3px #c0c0c0;/*ボタン右影*/
    border-radius: 3px;}
    
.endo{
	display: block;
	text-decoration: none;
	color: #FF5722;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border: double 4px #FF5722;
	border-radius: 50%;
	vertical-align: middle;
	overflow: hidden;
	transition: .6s;
	align: center;
}
.endo:hover {
	transform: rotateY(360deg);
	}
	    
	table{
	  border-collapse: collapse;
	  border-spacing: 5px 0;
	  margin: 0 auto;
	}
	td,th{
	  font-size:30px;
	  padding: 10px;
	  
	}
	
	th{
	  font-size:30px;
	  color: #fff;
	  background: #ff8000;
	  border-radius: 5px;
	}
	td{
	  color: #000000;
	  border: dashed 2px #ff8000;
}

