body {
    background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
    font-family: Meiryo UI;
    text-align: center;
	padding: 0px 0px 35px 0px;
	animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.basic {
  font-size:40px;
  /*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  color:#ff0080;
}
.basic:first-letter{
	font-size:60px;
	color: #ff0000;
}

table{
  border-collapse: collapse;
  border-spacing: 5px 0;
  margin: 0 auto;

}
td,th{
  font-size:30px;
  padding: 5px 5px;
  
}

th{
  font-size:30px;
  color: #fff;
  background: #ff8000;
  border-radius: 5px;
}
td{
  color: #000000;
  border: dashed 2px #ff8000;
}


div {
  text-align: center;
  line-height: 1.5;

  font-size:26px;
  font-family: Meiryo UI;
}
/*a {
	font-size:20px;
	color: white;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ffffff;/*ボタン色*/
   /* color: #000000;
    /*border-bottom: solid 2px #c0c0c0;/*ボタン底影*/
    /*border-right: solid 3px #c0c0c0;/*ボタン右影*/
    /*border-radius: 3px;*/
    

p{
	font-weight:bold;	
	font-size:30px;
	 color: #fafafa;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 
 
}

.endo1{
	font-size:40px;
	position: relative;
	padding: 0.25em 0;
}
.endo:after {
	content: "";
	display: block;
	height: 4px;
	background: -moz-linear-gradient(to right, rgb(230, 90, 90), transparent);
	background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
	background: linear-gradient(to right, rgb(300, 200, 90), transparent);
}

span{
	font-size:50px;
	font-family: 'arial',sans-serif;
	text-shadow: 
0 0 25px #edf8ff, 
0 0 20px #edf8ff, 
0 0 0.40px #edf8ff;
}



a{
  font-size:30px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:black;
  font-weight:bold;
}
a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ff0000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
a:hover::after {
  transform-origin: left top;
  transform: scale(1, 4);
}
    
h2{
	font-size:30px;
	color:#ff0000;
}
/*.frame {
 width: 60%;
 margin: 30px auto 20px;
 padding: 0px 20px 0;
 border: 3px solid #aaa;
 position: relative;
 border-radius: 3px;
 background-color: #fff;
}
.frame-title {
 position: absolute;
 top: -25px;
 left: 20px;
 padding: 0 5px;
 background-color: #fff;
}
.frame-title .fa {
 margin-right: 5px;
}
.caution {
 background-color: #ff4500;
 border: 2px solid #ff4500;
 color: #fff;
 border-radius: 3px;
}
.frame-red {
 border-color: #ff4500
}*/

.textboard {
  width: 55%;
  height: 140px;
  margin: 20px auto;
  font-size: 1.2rem;
  color: #FFF;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #FFF inset;
  background-color: rgba(0,0,0,0.9);
  text-align:left;
  font-family: 'Meiryo UI';
}
.test1 {
  width: 96%;
  margin: 2%;
  white-space: pre;
  overflow: hidden;
  -webkit-animation: ozDq 6s steps(70, end) ;
  font-family: 'Meiryo UI';
  font-size:25px;
  font-weight:400;
  /* プロパティは順に name, duration, timing-function です */
  }
.test1:after {
  
  -webkit-animation: ozPulse 1s infinite ease;
  /* プロパティは順に name, duration, iteration-count, timing-function です */
}
@-webkit-keyframes ozDq { from { width: 0; } } /* 開始地点の指定 */
@-moz-keyframes ozDq { from { width: 0 } }
@-webkit-keyframes ozPulse { { /* 透明度の指定 */
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes ozPulse {
from { opacity: 1; }
to { opacity: 0; }
}

h3{
	font-family: 'Meiryo UI';
	text-align:left;
}